body{ 
    font-family: Calibri; 
    font-size: 15px; 
    margin: 30px; 
}

.content{ 
    position: relative; 
}

.game-over{
     display: none;
     margin: 0 auto;
     width: 900px;
     text-align: center;
     color: #f44336;
     font-size: 21px;
     font-weight: bold;
}

#field{
    width: 900px;
    margin: 0 auto;
}

.field-line{
    height: 75px;
    position: relative;
}

.field-line:nth-child(odd){
    background: url("../Images/grass.png") repeat-x;
}

.field-line:nth-child(even){
    background: url("../Images/grass-flip.png") repeat-x;
}

.buttons{
    width: 900px;
    margin: 0 auto;
    margin-top: 5px;
}

.button{
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #ffd800;
}

.button#btn-generate{
    background-color: #ff9800;
}

.zombie{
    position: absolute;
    top: 0;
    right: 0;
}

.zombie .health-bar{
    width: 100px;
    height: 10px;
    border: 3px solid #ee8651;
    border-radius: 5px;
    background-color: rgba(253, 211, 204, 0.84);
    margin: -15px 0 0 -30px;
}

.zombie .health-bar .health-bar-value{
    height: 100%;
    background-color: #d80000;
    width: 20%;
}

.zombie.michael{
    width: 46px;
    height: 69px;
    background-image: url(../Images/michael.gif);
    background-size: cover;
}

.zombie.strong{
    width: 60px;
    height: 73px;
    background-image: url(../Images/strong.gif);
    background-size: cover;
}

.zombie.strong-die{
    height: 73px;
    width: 75px;
    background-image: url(../Images/strong-die.gif);
    background-size: cover;
}

.zombie.michael-die{
    height: 73px;
    width: 70px;
    background-image: url(../Images/michael-die.gif);
    background-size: cover;
}
